<h3 class="title" style="font-size:30px;">
  <a class="social-btn no-border" href="https://itunes.apple.com/ca/album/logic-guns-ep/id1117241373" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-fw fa-music"></i><br>
    <span class="link-title">iTunes</span>
  </a>
  <a class="social-btn no-border" href="https://open.spotify.com/album/6pxN5M0xXF7dyRJWJRPDsf" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-fw fa-spotify"></i><br>
    <span class="link-title">Spotify</span>
  </a>
  <a class="social-btn no-border" href="http://www.amazon.com/gp/product/B01G739PJK" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-fw fa-amazon"></i><br>
    <span class="link-title">Amazon</span>
  </a>

  <a class="social-btn no-border monochrome" href="https://tjwebb.bandcamp.com/album/logic-guns" target="_blank" rel="noopener noreferrer">
    <svg style="position: relative; top:5px; left: 3px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 200 1000 620" preserveAspectRatio="xMidYMid meet" xml:space="preserve">
      <g><path d="M688.5,790.1H10l301.5-580.3H990L688.5,790.1z"/></g>
    </svg>
    <br>
    <span class="link-title">Bandcamp</span>
  </a>

  <a class="social-btn no-border monochrome" href="https://play.google.com/music/listen#/album/Begbygniz7yoi5ozfsuqvqxwdqa/TJ+Webb/Logic+%26+Guns" target="_blank" rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 192 192">
      <path d="M170.8,86.1L37.4,10.3c-5.7-3.2-10.8-2.9-13.9,0.1l0,0c-2.2,2.1-3.4,5.5-3.4,9.9v151.3 c0,4.4,1.3,7.8,3.4,9.9l0,0c3.2,3.1,8.2,3.4,13.9,0.1l133.4-75.8C180.4,100.4,180.4,91.6,170.8,86.1z"/>
    </svg>
    <br>
    <span class="link-title">Google Music</span>
  </a>
</h3>
