---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    {% include top-links.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container customFade-In">
            <div class="row">
                <img src="{{ site.logo }}" class="home-logo">
                <h3 style="margin:0">
                    The Summer of
                </h3>
                <h1 class="title" style="font-weight:100; letter-spacing: 0.3rem; font-size:2.5rem;">
                    TJ Webb
                </h1>

                <a href="/summer">
                    <img src="/assets/img/rerelease-banner.png" alt="The Summer of TJ™ Rereleases" />
                </a>

                <img src="/assets/img/banner.png" alt="TJ Webb's New EP - Logic &amp; Guns Available Now!" />
                <h3 style="margin:0">
                    Available Now
                </h3>
                {% include stores.html %}

            {% include social-links.html %}
        </div>
    </div>
</header>
{% include scripts.html %}
</body>
</html>
